<h1> blah blah blah</h1>

<form method="post" action="/item/new">

    <label for:"name">Item for Sale:</label>
    <br>
    <input id="name" type=text name="name" placeholder="item">
        <br>
        <br>

    <label for:"price">Price:</label>
    <br>
    <input id="price" type=text name="price" placeholder="Enter Price">
        <br>
        <br>

    <label for:"Description">Item Description:</label>
    <br>
    <textarea id="Description" name="description" rows="10"  placeholder="Description"></textarea>
        <br>
        <br>

        <input type=submit value="Create Item">

 