<form method="post" action="/user/signup">
    
    <h1>Sign up</h1>
      <label for="exampleInputEmail1">Username: </label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username" name="username">
        <br>
        <br>

      <label for="exampleInputPassword1">Password:</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
        <br>
        <br>

      <label for="neighborhood">Neighborhood:</label>
      <input type="text" class="form-control" id="neighborhood" placeholder="neighborhood" name="neighborhood">
        <br>
        <br>

      <input type="submit" value="submit">
 </form>