<style>
body {
  background-image: url('https://www.greenlivingpdx.com/wp-content/uploads/2016/03/neighborhood-1140x641.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>


  <h1>plug into your community!</h1>
  <br>
  <br>
  <br>

  <form method="get" action="/user/signin">
    <button type="submit" class="button" value="Sign-in">Sign-in</button>
    </form>

    <br>
    <form method="get" action="/user/signup">
    <button type="submit" class="button" value="Sign-in">Sign-up</button>
    </form>






   
  