<h1>Welcome to the neighborhood!</h1>
<br>
<br>
<h3>
Lets get you sign up or logged in, click below to get started!
</h3>
<br>
<form method="get" action="/user/welcome">
    <button type="submit">Continue</button>
</form>